<tr>
<td colspan="2" class="post-title">von <%= show_user(comment.user) %> am <%= l comment.created_at %></td>
</tr>

<tr>
<td style="width:100px"><%= image_tag(comment.user.profile.profile_pic.url(:thumb))%></td>
<td><%= comment.entry  %></td>
</tr>