<% @option_iterate ||= 0; @option_iterate += 1 %>
<div class="polloption">
<% fields_for "poll[polloption_attributes][]", newoption, :builder => ErrorHandlingFormBuilder do |polloption_form| %>

    <span class="field_label"><label>Name</label></span>
	<span class="form_field"><%= polloption_form.text_field :name, :index => nil, :label => "Name", :post_text => "", :style => "blank" %>
		
<%= link_to_function(image_tag("delete.png"), (newoption.new_record? ? "$(this).up('.polloption').remove()" : "mark_poll_for_destroy(this)")) unless @option_iterate < 3 %>
</span>
	<% unless newoption.new_record? %>
	  <%= polloption_form.hidden_field :id, :style => "blank", :index => nil %>
	  <%= polloption_form.hidden_field :should_destroy, :style => "blank", :index => nil, :class => 'should_destroy' %>
	<% end %>
   
<% end %>
</div>