<h1>show details for a special poll</h1>
<% error_handling_form_for :result, @poll, :url => {:action => "vote", :id => params[:id]}, :html => { :multipart => false } do |form| %>
  Poll: <%= @poll.title %><br />
  Beschreibung: <%= @poll.description %><br />
  <ul id="poll">
    <%= render :partial => "polloption", :collection => @polloptions %>
  </ul>
  <%= form.submit "abschicken" %>
<% end %>