<li>
	<%= link_to classified.title, {:action => "show", :id => classified.id} -%>
	<small> <%= link_to 'Edit', {:action => "edit", :id => classified.id} %></small>
	<small> <%= link_to "Delete", {:action => 'delete', :id => classified.id}, :confirm => "are you sure?" %></small>
</li>
