<%#= javascript_include_tag :defaults %>
<h1> alle squads von <%=@clan.name%></h1>
<%= ajax_tooltip "Squad erstellen", :update_url => new_squad_path, :html => {:method => :get}, :id => dom_id(@clan, :new_squad)  %>

<ul id="squads_list">
	<%= render :partial => "squad", :collection => @squads %>
</ul>