<h1>Nachrichtenliste</h1>
<%= page_entries_info @messages %>
<%= will_paginate @messages %>
<%= render :partial => "message", :collection => @messages %>
<br />
<%= link_to "Nachricht versenden", new_message_path %>