<div>
   
    <%# unless message.user? %>
        author: <%= username(message.user)  %> 
    <%# end %>
  at <%= german_date_with_time(message.created_at) %> <br>
  message: <%= message.message %><br>
</div>
<br>