.DS_Store
log/*.log
tmp/**/*
config/database.yml
db/*.sqlite3
public/pics/**/*
public/profile_pics/**/*
nbproject/**/*
nbproject/build-impl.xml
nbproject/genfiles.properties
nbproject/platform.properties
nbproject/project.xml
nbproject/project.properties
nbproject/private/private.properties
nbproject/private/rake-t.txt
db/schema.rb
public/javascripts/cache/*
#public/javascripts/cache/bundle.js
#public/javascripts/cache/bundle.js.filelist
#public/stylesheets/cache/bundle.css
#public/stylesheets/cache/bundle.css.filelist
public/stylesheets/cache/*
.autotest
models.pdf
*.rb~
acn_development
acn_production
acn_test
log/domain.rb.pid
log/domain.rb_monitor.pid
