.DS_Store
log/*.log
tmp/**/*
config/database.yml
db/*.sqlite3
public/pics/**/*
nbproject/**/*
nbproject/build-impl.xml
nbproject/genfiles.properties
nbproject/platform.properties
nbproject/project.xml
nbproject/project.properties
nbproject/private/private.properties
nbproject/private/rake-t.txt
db/schema.rb
public/javascript/cache/**/*
public/stylesheets/cache/**/*
