<h1>Clanwars</h1>
<%= page_entries_info @clanwars %> für <%= @squad.name %>  
<ul id="clanwar_list">
<%= render :partial => "clanwar", :collection => @clanwars %>
</ul>

<%= will_paginate @clanwars %>