<h1>Clanwars</h1>

<ul id="clanwar_list">
<%= render :partial => "clanwar", :collection => @clanwars %>
</ul>
<%= will_paginate @clanwars %>
<br /><br />
<%= access_link image_tag("add.png") + "Clanwar hinzufügen", :action => "new" %>