<div id="shoutbox" style="padding-right: 15px">
<% if @current_session.logged_in? %>
  <%#= link_to_function image_tag("comment_add.png", :border => 0), "Element.toggle('add_shout')" %>
  <div id="add_shout">
      <% form_remote_tag :url => {:controller  => 'shoutbox', :action => 'create'}, :html => {:id => "create_shout"} do %>
          <%= text_area :content, "content", :rows => 2, :cols => 20 %>
          <%= submit_tag 'shout' %>
      <% end %>
<br>
  </div>
<% end %>

  <div id="shouts">
    <%= render :partial => "shoutbox/shout", :collection => Shoutbox.find(:all, :limit => 10, :order => "created_at DESC") %>
  </div>
</div>