<h1>Forum bearbeiten</h1>
<% error_handling_form_for @forum do |form| %>
	<%= form.text_field :title %>
	<%= form.text_field :subtitle %>
	<%= form.check_box :intern %>
	<%= form.submit "Forum bearbeiten"%>
<% end %>