<h1><%= @forum.title %></h1>
<h2><%= @forum.subtitle %></h2>

<br>
<%= access_link "Neuen Thread erstellen", :controller => "forum_thread", :action => "new", :id => @forum.id  %>
<h2>Threads:</h2>
<%= render :partial => "thread", :collection => @threads %>