<h1>Foren Übersicht</h1>

<div class="userlinks">
	<%= access_link image_tag("folder_add.png") + " Forum hinzufügen", new_forum_path %>
</div>

<table class="simple-table" style="width:100%">
  <thead>
    <tr> 
      <th>Forum</th>
      <th>Threads</th>
      <th>Letzter Eintrag</th>
	  <th></th>
    </tr>
  </thead>
  <tbody>
<%= render :partial => 'forum', :collection => @forums %>
  </tbody>
</table>