<h1>Gruppenübersicht</h1>
<%= page_entries_info @groups %>
<%= will_paginate @groups %>
<%= render :partial => 'group', :collection => @groups%>

<br />
<%= access_link "neue Gruppe anlegen", new_group_path %>
