<h1>Clan liste</h1>
<div class="userlinks">
	<%= link_to image_tag("zoom.png") + " Suche", search_clans_path %>
</div>

<div class="embedded" id="serach_clan" style="display:none">
	<%# %>
</div>

<table class="simple-table" style="width:100%">
  <thead>
    <tr> 
      <th>Name</th>
      <th>Clan-ID</th>
      <th>erstellt am</th>
	  <th>Squads</th>
      <th>Mitglieder</th>
      <th>Spiele</th>
    </tr>
  </thead>
  <tbody>
	<%= render :partial => "clan_list", :collection => @clans %>
  </tbody>
</table>