<%= tag('div', {:id => "tooltip_#{opts[:id]}", :class=>'tooltip', :style => 'display:none'}, true) %>
<%= tag('div', {:id => "tooltip_content_#{opts[:id]}", :class=>'tooltip_content'},true) %>
<%= content %>
</div></div>