<h1>News</h1>

<ul id="news_list">
<%= render :partial => "news", :collection => @news %>
</ul>

<%= will_paginate @news%>
<br />
<%= link_to "Neue News erstellen", new_onenews_path %>
<br /><br />

<%= cloud(@tags) %> 
