<h1>Artikel</h1>

<div class="userlinks">
<%= access_link image_tag("folder_add.png") + " Artikel hinzufügen", new_article_path %>
</div>

<%= entry_and_pagination @articles %>
<table class="simple-table" style="width:100%">
  <thead>
    <tr> 
      <th>Artikel</th>
      <th>Autor</th>
      <th>erstellt am</th>
      <th></th>
    </tr>
  </thead>
  <tbody>
<%= render :partial => "article", :collection => @articles %>
  </tbody>
</table>