<h1>Events am Tag</h1>
<dl>
<% @events.each do |event| %>
  <dt><%= leading_zero(event.expire_at.hour) %>:<%= leading_zero(event.expire_at.min) %></dt><dd> <%= link_to(event.name, event_path(event)) %></dd>
<% end %>
</dl>