<h1>Kategorien</h1>

<ul id="category_list">
  <% @catgories.each do |c| %>
    <li><%= link_to c.name, :action => 'show', :id => c.id %>
    <%= "(#{c.news.count})" -%>
    <% end %>
</ul>

<%= link_to "Neue Kategorie erstellen", :action => "new" %>