<h1>edit a new Classified</h1>

<% error_handling_form_for :classified, @classified, :url => {:action => "update", :id => params[:id]}, :html => { :multipart => false } do |form| %>
  <%= form.text_field :name, :label => "Titel" %>
  <%= form.text_area :description, :label => "Beschreibung" %>
  
  <%= form.submit "abschicken" %>
<% end %>