<%= RAILS_ENV.inspect + "test"%>
<h1>Kleinanzeigen</h1>
<ul>
<%= render :partial => 'classified', :collection => @classifieds %>
</ul>
<%= access_link "neue Kleinanzeige aufgeben", new_classified_path %>

<%= will_paginate @classifieds %>