<h1>Gallerie</h1>

<div class="userlinks">
	<%= access_link image_tag("folder_add.png")+ " Galerie hinzufügen", new_gallery_path %>
</div>

<%= entry_and_pagination @galleries %>
<table class="simple-table" style="width:100%">
  <tbody>
  <%= render :partial => "gallery", :collection => @galleries %>
</tbody>
</table>
