<h1>Galerie erstellen</h1>
<% error_handling_form_for @gallery, :url => galleries_path do |form| %>
      <%= form.text_field :name %>
      <%= form.text_area :description, :rows => 5, :cols => 30%>
	  <%= form.check_box :intern %>
      <%= form.submit "erstellen" %>
<% end %>