<div style="width:70%">
  <%= render :partial => 'login' %>
</div>


<pre>
<%#=YAML.dump session[:rights]%>
<%=access_link 'ClanManagement', {:controller => 'clan_management', :action => 'index'}%>
<%#=YAML.dump session%>
</pre>
