<div style="width:70%">
  <%= render :partial => 'login' %>
</div>


<pre>
<%#=YAML.dump session[:rights]%>
<%=access_link 'ClanManagement', {:controller => 'login', :action => 'index'}%>
<%= LoginController.test %>
<%#=YAML.dump session%>
<%=LoginController.static_session.class.to_s%>
</pre>
