<h1>Neues Passwort festlegen</h1>

<% error_handling_form_for @new_pw_user, :url => {:controller => "login", :action => "save_password", :k => params[:k]} do |f| %>
	<%= f.password_field :password, :value => "" %>
	<%= f.submit :abschicken %>
<% end %>