<h1>Neues Passwort beantragen</h1>

<% error_handling_form_for User.new, :url => {:controller => "login", :action => "send_password"} do |f| %>
	<%= f.text_field :email %>
	<%= f.submit :abschicken %>
<% end %>