<p>
  <span class="field_label">
    <%= label %> &nbsp;
  </span>
  <span class="form_field">
    <%= element %>
	<%= tooltip nil, :text => desc, :show_mode => "mouseover" unless desc.empty? %>
	<%= post_text %>
  </span>
</p>