<p>
  <span class="field_label">
    <%= label %>
  </span>
  <span class="form_field">
    <%= element %><%= tooltip nil, :text => desc, :show_mode => "mouseover" if desc %>
	
    <span class="form_error_message">
      <%= error %> 
    </span>
  </span>
</p>