body {
	font-family: Tahoma, Arial, sans-serif;
	font-size: 11px;
	background-color: #000000;
}
.wrapper {
	width: 986px;
	background-image: url(/images/d13/1.gif);
	margin: auto;
}
.logo {
	background-image: url(/images/d13/2.gif);
	height: 161px;
}
.logo_text {
	position: relative;
	left: 20px;
	top: 25px;
	color: #FFFFFF;
	font-size: 20px;
	font-weight: bold;
	height:20px;
}
.logo_subtext {
	float: left;
	position: relative;
	left: 20px;
	top: 55px;
	color: #FFFFFF;
}
.logo_text2 {
	float: right;
	position: relative;
	left: -140px;
	top: 45px;
	color: #FFFFFF;
}
.logo_cats {
	clear:both;
	position: relative;
	top: 105px;
}
.logo_cat_title {
	clear:both;
	float:left;
	color: #FFFFFF;
	width: 176px;
	text-align: center;
}
.logo_cat_title2 {
	float:left;
	width: 501px;
	padding-left: 5px;
}
.logo_cat_title3 {
	float:left;
	width: 123px;
	padding-left: 5px;
}
.logo_cat_title4 {
	float:left;
	color: #FFFFFF;
	width: 176px;
	text-align: center;
}
.box {
	float: left;
	background-image: url(/images/d13/3.gif);
	width: 176px;
}
.box_list {
	background-image: url(/images/d13/5.gif);
	height: 21px;
	margin: 0px;
}
.box3_list {
	background-image: url(/images/d13/17.gif);
	height: 21px;
	margin: 0px;
}
.box_list span, .box3_list span {
	position: relative; left: 30px; top: 5px;
}
.box_end {
	background-image: url(/images/d13/6.gif);
	height: 24px;
	margin: 0px;
}
.box_start {
	background-image: url(/images/d13/14.gif);
	width: 176px;
	height:10px;
	margin: 0px;
}
.box_cat {
	background-image: url(/images/d13/7.gif);
	height: 35px;
	margin: 0px;
	text-align: center;
}
.box_cat span {
	color: #FFFFFF; position: relative; top: 10px;
}
.box_content {
	width: 140px;
	padding: 15px;
	margin: 0px;
	position: relative;
	top: -10px;
}
.content {
	float: left;
	background-image: url(/images/d13/8.gif);
	width: 491px;
	padding:5px;
}
.box2 {
	float: left;
	width: 133px;
	margin: 0px;
}
.box2_content {
	padding-left: 5px;
	padding-right: 5px;
}
.box3 {
	float: left;
	background-image: url(/images/d13/4.gif);
	width: 176px;
}
.box3_content {
	width: 140px;
	padding: 15px;
	margin: 0px;
	position: relative;
	left:5px;
	top: -10px;
}
.box3_end {
	background-image: url(/images/d13/9.gif);
	height: 24px;
	margin: 0px;
}
.lap {
	background-image: url(/images/d13/15.gif);
	width: 176px;
	height:10px;
	margin: 0px;
}
.box3_cat {
	background-image: url(/images/d13/10.gif);
	height: 35px;
	margin: 0px;
	text-align: center;
}
.box3_cat span {
	color: #FFFFFF; position: relative; top: 10px;
}
.footer {
	clear:left;
	width: 986px;
}
.footer_end {
	clear:right;
	background-image: url(/images/d13/13.gif);
	height: 40px;
}