<div class="userlinks">
	<%= link_to image_tag("user_edit.png") + "Profil bearbeiten", edit_profile_path(@user.id) %>
	<%= link_to image_tag("picture_edit.png") + "Profilbild bearbeiten", edit_pic_profile_path(@user.id) %>
</div>