<tr style="width:70px">
<td><%= image_tag member.user.profile.profile_pic.url(:thumb) %></td>
<td>
	<div class="prop" style="width:100%">
		<span class="prop" style="width:35%">Nick</span>
		<span class="prop_entry"><%= link_to member.user.nick, profile_path(member.user.id) %> </span>
	</div>
	<div class="prop" style="width:100%">	
		<span class="prop" style="width:35%">Funktion</span>
		<span class="prop_entry"><%= member.role %></span>
	</div>
	<div class="prop" style="width:100%">	
		<span class="prop" style="width:35%">Im Squad seit</span>
		<span class="prop_entry"><%= l member.created_at, :format => "datelong" %></span>
	</div>
</td>
</tr>