<h1>Profil bearbeiten</h1>
<% error_handling_form_for @profile, :html => { :multipart => true } do |f|%>
	<%= f.text_field :firstname %>
	<%= f.text_field :lastname %>
	<%= f.file_field :profile_pic %>
    <%= f.submit "Änderungen übernehmen" %>
<% end %>
