<h1>Boxen verwalten</h1>

<div class="userlinks">
	<%= access_link "Eigene Seiten verwalten", pages_path %>
</div>


<%= render :partial => "template_area", :collection => @template_areas %>
<div id="update_message"></div>