body {
	background-color: #2C2C2C;
	font-family: Tahoma, Arial, sans-serif;
	font-size: 11px;
}
.wrapper {
	width:899px;
	margin: auto;
	background-image: url(/images/d15/4.gif);
}
.logo {
	background-image: url(/images/d15/1.gif);
	height: 129px;
}
.logo span {
	position:relative; left:60px; top:60px; height:30px; width:200px; color:#fff; font-size:20px;
}
.bar {
	background-image: url(/images/d15/2.gif);
	height: 17px;
	padding:5px;
}
.bar_text {
	float:left;
	color:#cccccc;
	font-weight:bold;
	width:690px;
	position:relative;
	left:20px;
}
.bar_text2 {
	float:left;
	color:#cccccc;
	font-weight:bold;
	width:100px;
	position:relative;
	left:20px;
}
.box {
	float: left;
	width: 212px;
	background-image: url(/images/d15/3.gif);
}
.box_list {
	background-image: url(/images/d15/button.gif);
	height: 22px;
	margin: 0px;
}
.box_list a {
	position: relative; top: 3px; left: 30px; text-decoration:none;
}
.box_cat {
	background-image: url(/images/d15/cat.gif);
	height: 28px;
	margin: 0px;
}
.box_cat span {
	position: relative; top: 5px; left: 15px; color: #999999; font-weight: bold;
}
.box_content {
	padding: 5px;
}
.content {
	float: left;
	width: 478px;
}
.content_box {
	clear: left;
	display: block;
}
.content_box_cat {
	background-image: url(/images/d15/content_title.gif);
	height: 26px;
	width: 477px;
}
.content_box_cat span {
	position: relative; top: 5px; left: 15px; color: #999999; font-weight: bold;
}
.img {
	background-image: url(/images/d15/newspicture.gif);
	height: 182px;
	width: 155px;
	float: left;
	margin: 1px;
}
.content_box_content {
	padding-left: 5px;
}
.copyright {
	clear: left;
	background-image: url(/images/d15/content_end.gif);
	height: 18px;
	padding:5px;
}
.copyright_left {
	float: left;
	color: #ffffff;
}
.copyright_right {
	float: right;
	color: #ffffff;
}
.box2 {
	float: left;
	width: 209px;
	vertical-align: top;
}